In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import os
import time

In [6]:
def pull(start,end):
    container = []
    string = 'Bitcoin since:'+start+' until:'+end
    for i, tweet in enumerate(sntwitter.TwitterSearchScraper(string).get_items()):
        if i > 1500:
            break
        container.append([tweet.user.username, tweet.date, tweet.likeCount, 
                                 tweet.sourceLabel, tweet.content, tweet.retweetCount, tweet.replyCount,
                         tweet.user.location,tweet.user.followersCount,tweet.user.friendsCount,
                         tweet.user.verified])
        
    tweets_df = pd.DataFrame(container, columns=["User", "Date Created", "Number of Likes", "Source of Tweet", "Tweet",
                                                       "Retweet counts", "Reply counts","location",
                                                "followers","friends","verified"])
    filename = 'Bitcoin'+start+'.csv'
    tweets_df.to_csv(filename)

In [3]:
loops = pd.read_excel('date_loop.xlsx', sheet_name="Sheet1", dtype = str)
loops.head(5)

  ID           Start_Date             End_Date
0  1  2018-01-01 00:00:00  2018-01-02 00:00:00
1  2  2018-01-02 00:00:00  2018-01-03 00:00:00
2  3  2018-01-03 00:00:00  2018-01-04 00:00:00
3  4  2018-01-04 00:00:00  2018-01-05 00:00:00
4  5  2018-01-05 00:00:00  2018-01-06 00:00:00

In [4]:
loops.shape

(365, 3)

In [7]:
t1 = time.time()
for i in range(0,len(loops)):
    start = str(loops.loc[i,"Start_Date"])[0:11]
    end = str(loops.loc[i,"End_Date"])[0:11]
    pull(start,end)
    print(start,end)

t2 = time.time()

print(t2-t1)

2018-01-01  2018-01-02
2018-01-02  2018-01-03
2018-01-03  2018-01-04
2018-01-04  2018-01-05
2018-01-05  2018-01-06
2018-01-06  2018-01-07
2018-01-07  2018-01-08
2018-01-08  2018-01-09
2018-01-09  2018-01-10
2018-01-10  2018-01-11
2018-01-11  2018-01-12
2018-01-12  2018-01-13
2018-01-13  2018-01-14
2018-01-14  2018-01-15
2018-01-15  2018-01-16
2018-01-16  2018-01-17
2018-01-17  2018-01-18
2018-01-18  2018-01-19
2018-01-19  2018-01-20
2018-01-20  2018-01-21
2018-01-21  2018-01-22
2018-01-22  2018-01-23
2018-01-23  2018-01-24
2018-01-24  2018-01-25
2018-01-25  2018-01-26
2018-01-26  2018-01-27
2018-01-27  2018-01-28
2018-01-28  2018-01-29
2018-01-29  2018-01-30
2018-01-30  2018-01-31
2018-01-31  2018-02-01
2018-02-01  2018-02-02
2018-02-02  2018-02-03
2018-02-03  2018-02-04
2018-02-04  2018-02-05
2018-02-05  2018-02-06
2018-02-06  2018-02-07
2018-02-07  2018-02-08
2018-02-08  2018-02-09
2018-02-09  2018-02-10
2018-02-10  2018-02-11
2018-02-11  2018-02-12
2018-02-12  2018-02-13
2018-02-13  2018-02-14
2018-02-14  2018-02-15
2018-02-15  2018-02-16
2018-02-16  2018-02-17
2018-02-17  2018-02-18
2018-02-18  2018-02-19
2018-02-19  2018-02-20
2018-02-20  2018-02-21
2018-02-21  2018-02-22
2018-02-22  2018-02-23
2018-02-23  2018-02-24
2018-02-24  2018-02-25
2018-02-25  2018-02-26
2018-02-26  2018-02-27
2018-02-27  2018-02-28
2018-02-28  2018-03-01
2018-03-01  2018-03-02
2018-03-02  2018-03-03
2018-03-03  2018-03-04
2018-03-04  2018-03-05
2018-03-05  2018-03-06
2018-03-06  2018-03-07
2018-03-07  2018-03-08
2018-03-08  2018-03-09
2018-03-09  2018-03-10
2018-03-10  2018-03-11
2018-03-11  2018-03-12
2018-03-12  2018-03-13
2018-03-13  2018-03-14
2018-03-14  2018-03-15
2018-03-15  2018-03-16
2018-03-16  2018-03-17
2018-03-17  2018-03-18
2018-03-18  2018-03-19
2018-03-19  2018-03-20
2018-03-20  2018-03-21
2018-03-21  2018-03-22
2018-03-22  2018-03-23
2018-03-23  2018-03-24
2018-03-24  2018-03-25
2018-03-25  2018-03-26
2018-03-26  2018-03-27
2018-03-27  2018-03-28
2018-03-28  2018-03-29
2018-03-29  2018-03-30
2018-03-30  2018-03-31
2018-03-31  2018-04-01
2018-04-01  2018-04-02
2018-04-02  2018-04-03
2018-04-03  2018-04-04
2018-04-04  2018-04-05
2018-04-05  2018-04-06
2018-04-06  2018-04-07
2018-04-07  2018-04-08
2018-04-08  2018-04-09
2018-04-09  2018-04-10
2018-04-10  2018-04-11
2018-04-11  2018-04-12
2018-04-12  2018-04-13
2018-04-13  2018-04-14
2018-04-14  2018-04-15
2018-04-15  2018-04-16
2018-04-16  2018-04-17
2018-04-17  2018-04-18
2018-04-18  2018-04-19
2018-04-19  2018-04-20
2018-04-20  2018-04-21
2018-04-21  2018-04-22
2018-04-22  2018-04-23
2018-04-23  2018-04-24
2018-04-24  2018-04-25
2018-04-25  2018-04-26
2018-04-26  2018-04-27
2018-04-27  2018-04-28
2018-04-28  2018-04-29
2018-04-29  2018-04-30
2018-04-30  2018-05-01
2018-05-01  2018-05-02
2018-05-02  2018-05-03
2018-05-03  2018-05-04
2018-05-04  2018-05-05
2018-05-05  2018-05-06
2018-05-06  2018-05-07
2018-05-07  2018-05-08
2018-05-08  2018-05-09
2018-05-09  2018-05-10
2018-05-10  2018-05-11
2018-05-11  2018-05-12
2018-05-12  2018-05-13
2018-05-13  2018-05-14
2018-05-14  2018-05-15
2018-05-15  2018-05-16
2018-05-16  2018-05-17
2018-05-17  2018-05-18
2018-05-18  2018-05-19
2018-05-19  2018-05-20
2018-05-20  2018-05-21
2018-05-21  2018-05-22
2018-05-22  2018-05-23
2018-05-23  2018-05-24
2018-05-24  2018-05-25
2018-05-25  2018-05-26
2018-05-26  2018-05-27
2018-05-27  2018-05-28
2018-05-28  2018-05-29
2018-05-29  2018-05-30
2018-05-30  2018-05-31
2018-05-31  2018-06-01
2018-06-01  2018-06-02
2018-06-02  2018-06-03
2018-06-03  2018-06-04
2018-06-04  2018-06-05
2018-06-05  2018-06-06
2018-06-06  2018-06-07
2018-06-07  2018-06-08
2018-06-08  2018-06-09
2018-06-09  2018-06-10
2018-06-10  2018-06-11
2018-06-11  2018-06-12
2018-06-12  2018-06-13
2018-06-13  2018-06-14
2018-06-14  2018-06-15
2018-06-15  2018-06-16
2018-06-16  2018-06-17
2018-06-17  2018-06-18
2018-06-18  2018-06-19
2018-06-19  2018-06-20
2018-06-20  2018-06-21
2018-06-21  2018-06-22
2018-06-22  2018-06-23
2018-06-23  2018-06-24
2018-06-24  2018-06-25
2018-06-25  2018-06-26
2018-06-26  2018-06-27
2018-06-27  2018-06-28
2018-06-28  2018-06-29
2018-06-29  2018-06-30
2018-06-30  2018-07-01
2018-07-01  2018-07-02
2018-07-02  2018-07-03
2018-07-03  2018-07-04
2018-07-04  2018-07-05
2018-07-05  2018-07-06
2018-07-06  2018-07-07
2018-07-07  2018-07-08
2018-07-08  2018-07-09
2018-07-09  2018-07-10
2018-07-10  2018-07-11
2018-07-11  2018-07-12
2018-07-12  2018-07-13
2018-07-13  2018-07-14
2018-07-14  2018-07-15
2018-07-15  2018-07-16
2018-07-16  2018-07-17
2018-07-17  2018-07-18
2018-07-18  2018-07-19
2018-07-19  2018-07-20
2018-07-20  2018-07-21
2018-07-21  2018-07-22
2018-07-22  2018-07-23
2018-07-23  2018-07-24
2018-07-24  2018-07-25
2018-07-25  2018-07-26
2018-07-26  2018-07-27
2018-07-27  2018-07-28
2018-07-28  2018-07-29
2018-07-29  2018-07-30
2018-07-30  2018-07-31
2018-07-31  2018-08-01
2018-08-01  2018-08-02
2018-08-02  2018-08-03
2018-08-03  2018-08-04
2018-08-04  2018-08-05
2018-08-05  2018-08-06
2018-08-06  2018-08-07
2018-08-07  2018-08-08
2018-08-08  2018-08-09
2018-08-09  2018-08-10
2018-08-10  2018-08-11
2018-08-11  2018-08-12
2018-08-12  2018-08-13
2018-08-13  2018-08-14
2018-08-14  2018-08-15
2018-08-15  2018-08-16
2018-08-16  2018-08-17
2018-08-17  2018-08-18
2018-08-18  2018-08-19
2018-08-19  2018-08-20
2018-08-20  2018-08-21
2018-08-21  2018-08-22
2018-08-22  2018-08-23
2018-08-23  2018-08-24
2018-08-24  2018-08-25
2018-08-25  2018-08-26
2018-08-26  2018-08-27
2018-08-27  2018-08-28
2018-08-28  2018-08-29
2018-08-29  2018-08-30
2018-08-30  2018-08-31
2018-08-31  2018-09-01
2018-09-01  2018-09-02
2018-09-02  2018-09-03
2018-09-03  2018-09-04
2018-09-04  2018-09-05
2018-09-05  2018-09-06
2018-09-06  2018-09-07
2018-09-07  2018-09-08
2018-09-08  2018-09-09
2018-09-09  2018-09-10
2018-09-10  2018-09-11
2018-09-11  2018-09-12
2018-09-12  2018-09-13
2018-09-13  2018-09-14
2018-09-14  2018-09-15
2018-09-15  2018-09-16
2018-09-16  2018-09-17
2018-09-17  2018-09-18
2018-09-18  2018-09-19
2018-09-19  2018-09-20
2018-09-20  2018-09-21
2018-09-21  2018-09-22
2018-09-22  2018-09-23
2018-09-23  2018-09-24
2018-09-24  2018-09-25
2018-09-25  2018-09-26
2018-09-26  2018-09-27
2018-09-27  2018-09-28
2018-09-28  2018-09-29
2018-09-29  2018-09-30
2018-09-30  2018-10-01
2018-10-01  2018-10-02
2018-10-02  2018-10-03
2018-10-03  2018-10-04
2018-10-04  2018-10-05
2018-10-05  2018-10-06
2018-10-06  2018-10-07
2018-10-07  2018-10-08
2018-10-08  2018-10-09
2018-10-09  2018-10-10
2018-10-10  2018-10-11
2018-10-11  2018-10-12
2018-10-12  2018-10-13
2018-10-13  2018-10-14
2018-10-14  2018-10-15
2018-10-15  2018-10-16
2018-10-16  2018-10-17
2018-10-17  2018-10-18
2018-10-18  2018-10-19
2018-10-19  2018-10-20
2018-10-20  2018-10-21
2018-10-21  2018-10-22
2018-10-22  2018-10-23
2018-10-23  2018-10-24
2018-10-24  2018-10-25
2018-10-25  2018-10-26
2018-10-26  2018-10-27
2018-10-27  2018-10-28
2018-10-28  2018-10-29
2018-10-29  2018-10-30
2018-10-30  2018-10-31
2018-10-31  2018-11-01
2018-11-01  2018-11-02
2018-11-02  2018-11-03
2018-11-03  2018-11-04
2018-11-04  2018-11-05
2018-11-05  2018-11-06
2018-11-06  2018-11-07
2018-11-07  2018-11-08
2018-11-08  2018-11-09
2018-11-09  2018-11-10
2018-11-10  2018-11-11
2018-11-11  2018-11-12
2018-11-12  2018-11-13
2018-11-13  2018-11-14
2018-11-14  2018-11-15
2018-11-15  2018-11-16
2018-11-16  2018-11-17
2018-11-17  2018-11-18
2018-11-18  2018-11-19
2018-11-19  2018-11-20
2018-11-20  2018-11-21
2018-11-21  2018-11-22
2018-11-22  2018-11-23
2018-11-23  2018-11-24
2018-11-24  2018-11-25
2018-11-25  2018-11-26
2018-11-26  2018-11-27
2018-11-27  2018-11-28
2018-11-28  2018-11-29
2018-11-29  2018-11-30
2018-11-30  2018-12-01
2018-12-01  2018-12-02
2018-12-02  2018-12-03
2018-12-03  2018-12-04
2018-12-04  2018-12-05
2018-12-05  2018-12-06
2018-12-06  2018-12-07
2018-12-07  2018-12-08
2018-12-08  2018-12-09
2018-12-09  2018-12-10
2018-12-10  2018-12-11
2018-12-11  2018-12-12
2018-12-12  2018-12-13
2018-12-13  2018-12-14
2018-12-14  2018-12-15
2018-12-15  2018-12-16
2018-12-16  2018-12-17
2018-12-17  2018-12-18
2018-12-18  2018-12-19
2018-12-19  2018-12-20
2018-12-20  2018-12-21
2018-12-21  2018-12-22
2018-12-22  2018-12-23
2018-12-23  2018-12-24
2018-12-24  2018-12-25
2018-12-25  2018-12-26
2018-12-26  2018-12-27
2018-12-27  2018-12-28
2018-12-28  2018-12-29
2018-12-29  2018-12-30
2018-12-30  2018-12-31
2018-12-31  2019-01-01
29456.39744591713

7897.515177965164

In [52]:
#!pip install pytrends

             mid           title            type
0     /m/05p0rrx         Bitcoin        Currency
1     /m/0vpj4_b  Cryptocurrency           Topic
2    /m/0108bn2x        Ethereum           Topic
3     /m/0zmxk9t        Dogecoin  Cryptocurrency
4  /g/11jglr7lly        USD Coin           Topic
5  /g/11mjf91p7c    Binance Coin            Coin

,date,/m/05p0rrx,/m/0vpj4_b,/m/0108bn2x,/m/0zmxk9t,/g/11jglr7lly,/g/11mjf91p7c,/m/05p0rrx,/m/0vpj4_b,/m/0108bn2x,...,/m/0108bn2x,/m/0zmxk9t,/g/11jglr7lly,/g/11mjf91p7c,/m/05p0rrx,/m/0vpj4_b,/m/0108bn2x,/m/0zmxk9t,/g/11jglr7lly,/g/11mjf91p7c
0,2020-07-01,15,27,17,4,55,24,21,29,19,...,18,12,0,0,16,15,43,0,0,37
1,2020-07-02,16,32,17,5,25,0,19,32,14,...,21,0,0,0,20,46,35,32,0,0
2,2020-07-03,15,31,15,5,0,73,17,31,21,...,21,0,0,0,12,54,49,0,0,0
3,2020-07-04,14,29,15,5,0,79,17,36,19,...,21,0,0,0,13,33,26,0,0,0
4,2020-07-05,15,27,14,6,0,52,17,29,17,...,19,14,39,0,13,14,8,0,45,56

/var/folders/j8/tn6q5h8175d111_nmq0ps_640000gn/T/ipykernel_3739/480964169.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  full6=full5.append(df_trends)

(1096, 31)

,Date,Bitcoin-US,Crypto-US,Ethereum-US,Dogecoin-US,USDcoin-US,Binance-US,Bitcoin-GB,Crypto-GB,Ethereum-GB,...,Ethereum-FR,Dogecoin-FR,USDcoin-FR,Binance-FR,Bitcoin-CH,Crypto-CH,Ethereum-CH,Dogecoin-CH,USDcoin-CH,Binance-CH
179,2020-12-27,80,76,88,12,58,58,100,75,100,...,81,0,0,12,100,86,74,21,42,27
180,2020-12-28,74,70,100,12,56,98,68,70,88,...,100,17,0,0,78,72,96,0,0,0
181,2020-12-29,57,87,85,9,39,49,60,85,85,...,66,0,0,16,71,100,57,29,53,0
182,2020-12-30,72,79,97,10,28,40,74,88,79,...,87,24,0,0,77,61,64,19,0,0
183,2020-12-31,68,78,89,9,45,96,71,72,75,...,53,26,21,0,71,75,71,0,0,0

(549, 31)

,Date,Bitcoin-US,Crypto-US,Ethereum-US,Dogecoin-US,USDcoin-US,Binance-US,Bitcoin-GB,Crypto-GB,Ethereum-GB,...,Ethereum-FR,Dogecoin-FR,USDcoin-FR,Binance-FR,Bitcoin-CH,Crypto-CH,Ethereum-CH,Dogecoin-CH,USDcoin-CH,Binance-CH
179,2019-12-27,3,33,19,26,0,34,6,52,34,...,35,0,0,58,29,0,28,0,47,0
180,2019-12-28,3,39,22,32,0,20,8,38,32,...,99,78,0,51,27,17,30,0,0,0
181,2019-12-29,3,34,25,31,0,13,7,27,53,...,30,0,0,0,28,14,25,51,47,30
182,2019-12-30,3,37,26,24,21,19,7,57,49,...,50,0,0,43,37,32,19,0,31,0
183,2019-12-31,3,42,21,30,27,10,7,54,35,...,49,42,0,0,41,39,14,0,0,0